.header {
  background-color: #f0f0f0; /* Light gray for header */
  padding: 10px;
}

.main {
  background-color: #fefefe; /* White for main content */
  padding: 20px;
}

.footer {
  background-color: #d0d0d0; /* Darker gray for footer */
  padding: 10px;
}

.modal {
  background-color: #f0f0f0; /* Light gray for header */
  padding: 10px;
}

.close {
  padding: 1rem;
}
